/*
####################Primary Color###################
Bootstrap 3 version

Main color(logo) : #3da603
secondary color : #62ab00
third color : #eccd00

black color : #282828
white color : #fff

*/
.mandatory {
    color: red;
}

#loader {
    margin: 0;
    padding: 0;
    position: fixed;
    right: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(102, 102, 102, 0.66);;
    z-index: 30001;
    opacity: 0.8;
    display: none;
}

#post-add {
    padding: 0 25px;
    min-height: 30px !important;
    background-color: #eccd00;
    border: 1px solid #eccd00;
    color: #282828;
    font-size: 14px;
    text-transform: capitalize;
}

#post-add:hover {
    background-color: #fff;
    border: 1px solid #fff;
}

.post-add-fixed-menu {
    background-color: #eccd00;
    border: 1px solid #eccd00;
    padding: 2px 10px !important;
    margin-top: 23px !important;
    text-transform: capitalize !important;
}

.box-wrapper {
    border: 1px solid #62ab00;
    padding: 4px 7px;
    color: #62ab00;
    -webkit-box-shadow: 10px 10px 5px -8px rgba(98, 171, 0, 0.57);
    -moz-box-shadow: 10px 10px 5px -8px rgba(98, 171, 0, 0.57);
    box-shadow: 10px 10px 5px -8px rgba(98, 171, 0, 0.57);
}

.checkout-form input, .checkout-form .nice-select {
    height: 37px;
    margin-bottom: 0;
}

#book-list-wrapper input, #book-list-wrapper .nice-select {
    height: 30px;
}

.checkout-form input {
    border-color: #62ab00;
}

.checkout-form label {
    color: #62ab00;
}

.checkout-form .check-box input[type="checkbox"] + label::after {
    color: #62ab00;
    font-size: 14px;
}

.checkout-form .check-box input[type="checkbox"] + label::before {
    border: 2px solid #62ab00 !important;
    webkit-box-shadow: 10px 10px 5px -8px rgba(98, 171, 0, 0.57);
    -moz-box-shadow: 10px 10px 5px -8px rgba(98, 171, 0, 0.57);
    box-shadow: 10px 10px 5px -8px rgba(98, 171, 0, 0.57);
}

.checkout-form .check-box .form-check + label::before {
    border-radius: 50%;
    border: 2px solid #62ab00 !important;
}

.book-serial {
    border: 2px solid #62ab00;
    color: #14191e;
    padding: 5px 13px;
    border-radius: 50%;
    font-weight: 600;
    webkit-box-shadow: 10px 10px 16px -8px rgba(98, 171, 0, 0.57);
    -moz-box-shadow: 10px 10px 16px -8px rgba(98, 171, 0, 0.57);
    box-shadow: 10px 10px 16px -8px rgba(98, 171, 0, 0.57);
}

.checkout-form input[type=file] {
    border: none;
    padding: 0;
    background-color: transparent;
}

.bulk-btn {
    padding: 0px 6px;
    color: #fff;
    font-size: 12px;
    font-weight: 600;
    border-radius: 5px;
}

.theme-btn {
    border: 1px solid #62ab00;
    background-color: #62ab00;
    webkit-box-shadow: 10px 10px 5px -8px rgba(98, 171, 0, 0.57);
    -moz-box-shadow: 10px 10px 5px -8px rgba(98, 171, 0, 0.57);
    box-shadow: 10px 10px 5px -8px rgba(98, 171, 0, 0.57);
}

.remove-btn {
    border: 1px solid #bd0018;
    background-color: #bd0018;
    webkit-box-shadow: 10px 10px 5px -8px #dc35458c;
    -moz-box-shadow: 10px 10px 5px -8px #dc35458c;
    box-shadow: 10px 10px 5px -8px #dc35458c;
}

.wrapper {
    border: 1px solid #c9c9c9;
    padding: 5px 25px;
    color: #282828;
}

hr {
    background-color: #eccd00;
}

.wrapper .list {
    margin-left: 8px;
    margin-bottom: 2px;
}

.wrapper .list li {
    font-size: 12px;
    text-transform: capitalize;
    font-weight: 600;
}
.wrapper .list li:last-child {
    margin-bottom: 0;
}

#submit-block .btn--yellow:hover {
    background-color: #62ab00;
}

#submit-block .check-box .form-check + label::before {
    border-radius: 0;
}

.loginBtn {
    box-sizing: border-box;
    position: relative;
    /* width: 13em;  - apply for fixed size */
    margin: 0.2em;
    padding: 0 15px 0 46px;
    border: none;
    text-align: left;
    line-height: 34px;
    white-space: nowrap;
    border-radius: 0.2em;
    font-size: 16px;
    color: #FFF;
}
.loginBtn:before {
    content: "";
    box-sizing: border-box;
    position: absolute;
    top: 0;
    left: 0;
    width: 34px;
    height: 100%;
}
.loginBtn:focus {
    outline: none;
}
.loginBtn:active {
    box-shadow: inset 0 0 0 32px rgba(0,0,0,0.1);
}


/* Facebook */
.loginBtn--facebook {
    background-color: #4C69BA;
    background-image: linear-gradient(#4C69BA, #3B55A0);
    /*font-family: "Helvetica neue", Helvetica Neue, Helvetica, Arial, sans-serif;*/
    text-shadow: 0 -1px 0 #354C8C;
}
.loginBtn--facebook:before {
    border-right: #364e92 1px solid;
    background: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/14082/icon_facebook.png') 6px 6px no-repeat;
}
.loginBtn--facebook:hover,
.loginBtn--facebook:focus {
    color: #FFF;
    background-color: #5B7BD5;
    background-image: linear-gradient(#5B7BD5, #4864B1);
}


/* Google */
.loginBtn--google {
    /*font-family: "Roboto", Roboto, arial, sans-serif;*/
    background: #DD4B39;
}
.loginBtn--google:before {
    border-right: #BB3F30 1px solid;
    background: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/14082/icon_google.png') 6px 6px no-repeat;
}
.loginBtn--google:hover,
.loginBtn--google:focus {
    color: #FFF;
    background: #E74B37;
}

/*
.post-add-fixed-menu:hover {
    color: #fff !important;
}*/
